* {
    padding: 0;
    margin: 10px;
}

body {
    background-color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
}

#instructionP {
    text-align: left;
    margin-left: 55px;
    font-size: .8em;
    text-transform: uppercase;
    text-emphasis: strong;
}

#tempInput {
    display: flex;
    margin: auto;
    font-size: 18px;
    text-align: center;
}

#radioBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#convertDiv {
   display: flex;
   margin: auto;    
    
}

#clearDiv {
    display: flex;
   
}

.btn {
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
}

#convertBtn {
    text-align: center; 
}

h2 {
    text-align: center;
    display: block;
}
.printedDomCard {
    display: block;
    width: 300px;
    margin: auto;
    float: center;
    border: 1px solid black;
    top: 300px;
}